<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Publicación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Editar Publicación</h1>

    {% with messages = get_flashed_messages(category_filter=["edicion"]) %}
        {% if messages %}
            {% for message in messages %}
                <p class="mensaje-error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/publicaciones/actualizar/{{ pub.id }}" method="POST" class="formulario" style="max-width: 350px;">
        <label>Nombre:</label>
        <br>
        <input type="text" name="nombre" value="{{ pub.nombre }}">
        <br><br>

        <label>Fecha:</label>
        <br>
        <input type="date" name="fecha" value="{{ pub.fecha }}">
        <br><br>

        <label>Lugar:</label>
        <br>
        <input type="text" name="lugar" value="{{ pub.lugar }}">
        <br><br>

       <label>Descripción del encuentro:</label>
        <br>
        <textarea name="descripcion" rows="5">{{ pub.descripcion }}</textarea>
        <br><br>

        <button type="submit">Guardar</button>
    </form>

</body>
</html>